OBSERVER_NAME=Purwokerto
OBSERVER_LAT=-7.4243
OBSERVER_LON=109.2396
OBSERVER_ALT=88

CELESTRAK_URL=https://celestrak.org/NORAD/elements/gp.php

TLE_CACHE_HOURS=2

EPHEMERIS_FILE=de421.bsp

SERVER_PORT=8000

